/* Estilo general del cuerpo */
body {
    font-family: 'Arial', sans-serif; /* Cambiar la fuente */
    background-color: #F5F5F5; /* Color de fondo claro */
    color: #333; /* Color del texto */
    margin: 0;
    padding: 0;
}

/* Estilo del encabezado */
header {
    background-color: #6200EA; /* Color de fondo del encabezado */
    color: white; /* Color del texto en el encabezado */
    padding: 1rem;
}

/* Estilo del menú de navegación */
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav ul li a {
    color: black; /* Color de los enlaces */
    text-decoration: none;
    font-weight: bold; /* Fuente en negrita */
}

nav ul li a:hover {
    text-decoration: underline; /* Efecto al pasar el mouse */
}

/* Estilo principal */
main {
    padding: 2rem;
}

/* Estilo del pie de página */
footer {
    background-color: #6200EA; /* Color de fondo del pie de página */
    color: white; /* Color del texto en el pie de página */
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Estilo del botón */

button {
    background-color: #03DAC6; 
    border: none; 
    color: white; 
    padding: 10px 20px; 
    cursor: pointer; 
    font-weight: bold; 
    border-radius: 5px; 
    margin-top: 20px; 
    display: block; /* Cambiar a bloque para ocupar el ancho completo */
    width: auto; /* Asegurar que tenga un ancho automático */
 }


button:hover {
    background-color: #018786; /* Color de fondo del botón al pasar el mouse */
}

/* Estilo del tema oscuro (opcional) */
.dark-theme {
    background-color: #333; /* Color de fondo oscuro */
    color: #FFF; /* Color del texto claro */
}

.dark-theme header, .dark-theme footer {
    background-color: #3700B3; /* Color de fondo oscuro para el encabezado y pie de página */
}

img {
    max-width: 30%; /* Asegurar que la imagen no sobrepase el contenedor */
    height: auto; /* Mantener la relación de aspecto */
    margin: 20px 0; /* Margen arriba y abajo */
    border: 5px solid #6200EA; /* Borde de 5px con color del tema */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidad */
    transition: transform 0.3s; /* Transición suave para el efecto hover */
}

img:hover {
    transform: scale(1.05); /* Aumentar ligeramente la imagen al pasar el mouse */
}